@import "../scss/public/variables";

body #app {
	& a:hover, & a:focus {
		text-decoration: none;
	}

	& input, & input:focus {
		box-shadow: none;
	}

	& .pull-right {
		text-align: right;
	}

	// Navbar
	& .v-toolbar__content {
		& .v-btn--icon, & .v-btn--icon:focus, & .v-btn--icon:active {
			outline: none;
		}

		& .logout {
			& button.v-btn--icon {
				margin: 0;

				& a {
					color: white;
				}
			}
		}
	}

	// Buscardor de contactos
	& .v-autocomplete__content {
		& .v-list__tile--avatar.v-list__tile--active .v-list__tile__title { color: rgb(46, 46, 46) !important; }
	}

	// Menú izquierdo
	& .menu-contactos {
		// Lista de contactos
		& .lista-contactos {
			box-shadow: none;

			& .desconectado .v-list__tile__content {
				& .v-list__tile__title, & .v-list__tile__title small,
				& .v-list__tile__sub-title { color: rgb(200, 200, 200); }
			}
			& .v-list__tile__title small { color: rgb(172, 172, 172); }
			& .escribiendo { color: rgb(50, 211, 50); font-weight: bold; }
		}

		// Menú de grupos
		& .grupos {
		}
		
		& .v-btn--fixed.v-btn--right {
			margin-bottom: 60px;
		}
		
		& .v-btn--fixed.v-btn--right, & .v-btn--fixed.v-btn--right:focus, & .v-btn--fixed.v-btn--right:active {
			outline: none;
		}

		// Footer de contactos
		& .contactos-footer {
			position: absolute;
			bottom: 0;
			height: 60px;
			width: 100%;

			& .v-btn, & .v-btn:focus, & .v-btn:active, & .v-btn:hover {
				outline: none;
			}
		}

		& .change-bottom-nav-enter-active, & .change-bottom-nav-leave-active {
			transition: all 1s;
		}
		& .change-bottom-nav-enter-active, .change-bottom-nav-leave-active {
			transition: opacity 1.5s;
		}
		& .change-bottom-nav-enter, .change-bottom-nav-leave-to {
			opacity: 0;
		}
	}

	& .container.fluid {
		// Mensajes de chat
		& #chat-box {
			height: 84vh;

			& ul {
				list-style: none;
				padding: 0;
				margin: 0;
				
				& li {
					margin: 45px 0 0 0;
					font-weight: 300;

					& a.user {
						margin: -30px 0 0 0;
						display: block;
						color: $imageAltTextColor;

						img {
							width: 65px;
							height: 65px;
							border-radius: 50%;
							background-color: white;
						}
					}
						
					.date {
						font-size: 14px;
						color: lighten($imageAltTextColor, 45);
					}
					
					.message {
						display: block;
						padding: 10px;
						position: relative;
						font-size: 16px;
						border-radius: 3px;
						font-weight: 300;
						
						&:before {
							content: '';
							position: absolute;
							border-top: 16px solid rgba(0,0,0,0.15);
							border-left: 16px solid transparent;
							border-right: 16px solid transparent;
						}

						&:after {
							content: '';
							position: absolute;
							top: 0;
							border-top: 17px solid;
							border-left: 17px solid transparent;
							border-right: 17px solid transparent;
						}

						&.blur {
							p {
								-webkit-filter: blur(3px);
								-moz-filter: blur(3px);
								-o-filter: blur(3px);
								-ms-filter: blur(3px);
								filter: blur(3px);
							}

							.hider{
								opacity: 1;
								z-index: 1;
							}
						}

						p {
							margin: 0;
							padding: 0;
							transition: all 0.1s;
						}

						.hider {
							opacity: 0;
							z-index: -1;
							position: absolute;
							height: 100%;
							width: 100%;
							margin: -10px;
							text-align: center;
							cursor: pointer;
							transform-style: preserve-3d;
							transition: all 0.1s;

							span {
								display: block;
								position: relative;
								top: 50%;
								font-size: 16px;
								transform: translateY(-50%);
							}
						}
					}
					
					&.you {
						a.user {
							float: right;
						}
						.date {
							float: right;
							margin: -20px 10px 0 0;
						}
						.message {
							margin: 0 90px 0 0;
							color: $UserMessageColor;
							background: $UserMessageBackground;
							
							&:before {
								margin: -9px -16px 0 0;
								right: 0;
							}
							&:after{
								content: '';
								right: 0;
								margin: 0 -15px 0 0;
								border-top-color: $UserMessageBackground;
							}
						}
					}
				
					&.other {
						a.user {
							float: left;
						}
						
						.date {
							float: left;
							margin: -20px 0 0 10px;
						}
						
						.message {
							margin: 0 0 0 90px;
							color: $OtherMessageColor;
							background: $OtherMessageBackground;
							
							&:before {
								margin: -9px 0 0 -16px;
								left: 0;
							}
							&:after{
								content: '';
								left: 0;
								margin: 0 0 0 -15px;
								border-top-color: $OtherMessageBackground;
							}
						}
					}
				}
			}

			// Bloque con los mensajes:
			& .panel-body {
				height: calc(100% - 80px);
				overflow-y: scroll;

				& .list-enter-active, & .list-leave-active {
					transition: all 0.5s;
				}
				& .list-enter, & .list-leave-to {
					opacity: 0;
					transform: translateY(30px);
				}
			}

			& .panel-footer {
				padding-bottom: 0;
				height: 80px;

				// Input de enviar mensaje
				& .input-container {
					margin-top: 20px;

					& .v-input__slot, & .v-text-field__details {
						margin: 0;
					}
				}
			}

			& .msg-bg {
				height: 300px;
				width: 350px;
				margin-top: 10%;
				margin-left: 28%;
			}
		} // / #chat-box
	} // / .container-fluid

	& .modal-contacto {
		& .v-progress-linear {
			margin: 0;
		}
		& .alert-container {
			padding-top: 10px;

			& .v-alert {
				margin: 0;
				height: 100%;
				width: 100%;
			}
		}
	}
}