@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Chosence-Light';
    src: url(../fonts/Chosence-Light.otf);
}

@font-face {
    font-family: 'Noodle';
    src: url(../fonts/Noodle.ttf);
}

@font-face {
    font-family: 'Highway';
    src: url(../fonts/Highway.ttf);
}