@import "variables";
@import "mixins";
@import "fonts";
@import "components/alertBox";

@keyframes switchComponent {
    0%    { opacity: 0; filter: blur(10px); }
    100%  { opacity: 100%; filter: blur(0); }
}

body {
	background-image: url(../images/login/background.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	@media (min-width: 768px){
		padding-top: 50px;
	}
}

.ajaxMessage {
	@include alertBox();
}

// Contenido principal:
.login-registro {
	@media (max-width: 767px) {
		height: 100vh;
	}
	padding-left: 0px;
	padding-right: 0px;
	background: $grisClaro;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
	text-align: center;

	// Transiciones:
	.login-component-enter-active {
		animation-name: switchComponent;
		animation-duration: 0.25s;
	}
	.login-component-leave-active {
		animation-name: switchComponent;
		animation-direction: reverse;
		animation-duration: 0.25s;
	}

	.bloque-login {
		@include login-registro($azulLogin, url(../images/login/login_logo.png));
	}

	.bloque-registro {
		@include login-registro($rojoRegistro, url(../images/login/registro_logo.png));
	}
	
	.bloque-login, .bloque-registro {
		& .header {
			height: 120px;
			margin-bottom: 50px;
		}
		
		& .logo {
			position: relative;
			z-index: 1;
			top: 60px;
			display: block;
			margin: auto;
			margin-bottom: -30px;

			height: 120px;
			width: 120px;
			border-radius: 60px;
			background-size: 100% 100%;
		}

		& .content {
			// top, right, bottom, left:
			padding: 0px 15% 30px 15%;

			& .form-signin {
				& input {
					margin-top: 15px;
				}

				& input[type=text], & input[type=password] {
					margin-top: 15px;
					border-bottom: 1px solid darken($grisClaro, 10%);
				}

				& input:-webkit-autofill {
					box-shadow: 0 0 0px 1000px $grisClaro inset;
					-webkit-box-shadow: 0 0 0px 1000px $grisClaro inset;
					-webkit-text-fill-color: lighten($grisOscuro, 10%) !important;
				}

				& .checkbox {
					text-align: left;
					margin-top: 15px;
					margin-bottom: 20px;

					& input {
					margin-right: 5px;
					}

					& a {
						color: lighten($grisOscuro, 8%);
						margin-top: 8px;

						& span {
							font-size: 24px;
						}
					}
				}

				& p a {
					&:hover, &:active, &:focus, &:visited {
						text-decoration: none;
					}
				}

				& input[type="submit"] {
					font-family: Roboto-Medium;
					font-size: 16px;
					margin: 0;
					width: 100%;
				}
			}
		}
	} // .bloque-login, .bloque-registro
} // .login-registro