// Colores:
$rojoRegistro: rgba(207, 58, 38, 0.932);
$morado: #9B00FF;
$azulLogin: #5B40C4;
$azulMedio: #5F46DA;
$verde: #49CE35;
$grisClaro: #E9E9E9;
$grisOscuro: #353535;

// Tamaños de pantalla:
$xs: 768px;
$sm: 992px;
$md: 1200px;