<th:template th:fragment="login">
	<script type="text/x-template" id="login" th:inline="javascript">
		<div class="login-page">
			<div class="form">
				<img :src="path + 'resources/images/app/app-logo.png'" alt="chat">
				<form class="login-form" @submit.prevent="login()" method='POST'>
					<input type="text" placeholder="usuario" name="username" />
					<input type="password" placeholder="contraseña" name="password" />

					<button type="submit" :disabled="loading">
						<span v-if="!loading">Login</span>
						<span v-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
					</button>
					<p class="message">
						<template v-if="!loading">
							¿No tienes cuenta? 
							<button class="link" @click.prevent="changeView('registro')">Registrate aquí.</button>
						</template>
					</p>
				</form>
				<form class="register-form" @submit.prevent="register()" method='POST'>
					<input type="text" placeholder="usuario" name="username" v-model="registerForm.username" />
					<input type="password" placeholder="contraseña" name="password" v-model="registerForm.password" />

					<button type="submit" :disabled="loading">
						<span v-if="!loading">Registrar</span>
						<span v-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
					</button>
					<p class="message">
						<template v-if="!loading">
							¿Ya tienes cuenta? 
							<button class="link" @click.prevent="changeView('login')">Inicia sesión aquí.</button>
						</template>
					</p>
			  	</form>
					
				<div class="alert alert-dismissible" :class="[{ 'd-none': !alert.show }, alert.cssClass]">
					<button type="button" class="close" @click.prevent="alert.show = false">&times;</button>
					{{ alert.message }}
				</div>
			</div>
		</div>
	</script>
</th:template>