// Colores generales


// Login
$AzulLogin: #7341fc;
$bgAzulOscuro: #4a3cc9;
$bgAzulClaro: #705ad1;

// Chat
$imageAltTextColor: #333;
$UserMessageColor: white;
$UserMessageBackground: rgb(91, 101, 255);
$OtherMessageColor: rgb(31, 64, 173);
$OtherMessageBackground: rgb(230, 230, 230);

// Tamaños de pantalla
$xs: 768px;
$sm: 992px;
$md: 1200px;