<!DOCTYPE html>
<html xmlns="http://www.w3.org/2005/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
<template th:fragment="scripts">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/plugins/bootswatch_paper.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/master.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/components/loadingBar.css}">
    <script type="text/javascript" th:src="@{/resources/js/plugins/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/plugins/vue-resource.min.js}"></script>
    <script type="module" th:src="@{/resources/js/main.js}"></script>
</template>

</head>
<body>
</body>
</html>